h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}


p, div {
	font-family: 'Oxygen', sans-serif;
}





.table > tbody > tr.tr-climber {
     background-color: #FFE2C9 !important;
}

.table > tbody > tr.tr-conifer {
     background-color: #FFF9C9 !important;
}

.table > tbody > tr.tr-fern {
     background-color: #C9FFD1 !important;
}

.table > tbody > tr.tr-grass {
     background-color: #DFFFC9 !important;
}



.table > tbody > tr.tr-climber:hover {
     background-color: #FFEDDE !important;
}

.table > tbody > tr.tr-conifer:hover {
     background-color: #FFFBD9 !important;
}

.table > tbody > tr.tr-fern:hover {
     background-color: #DBFFE1 !important;
}

.table > tbody > tr.tr-grass:hover {
     background-color: #EAFCDE !important;
}



.table > tbody > tr.tr-climber:hover, .table > tbody > tr.tr-conifer:hover, .table > tbody > tr.tr-fern:hover, .table > tbody > tr.tr-grass:hover {
	cursor: pointer;
}



.well {
	padding-top: 0px;
}

.img-rounded {
	border-radius: 5px;
}

.img-padded {
	margin: 5px 0px;
}


.scrollbar-area {
	overflow-y: scroll;
}

th {
	position: sticky;
}


.container {
	min-width: 1000px;
	width: 1000px;
}




.navbar-inverse {
	background: black;
	border-radius: 0px;
}


body {
	height: 100%;
}

footer {
	background: #F5F5F5;
	padding: 20px 5px;
	height: 80px;
	/* A sneaky way to ensure that the footer always goes to the bottom of the page. Haha. */
	box-shadow: 0px 500px 0px 500px #F5F5F5;

}

footer p, a {
	color: #8A8A8A;
	
}



#bottom-nav {
	background-color: black;
	width: 100%;
	position: fixed;
	bottom: 0px;
	height: 80px;
	padding: 10px 10px;
}

.bottom-nav-control {
	height: 60px;
	width: 200px;
	

}

.bottom-nav-control-left {
	float: left;
	cursor: pointer;
}

.bottom-nav-control-right {
	float: right;
	cursor: pointer;
}

.bottom-nav-control-centre {
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}


.bottom-nav-control p, h3 {
	color: white;
	opacity: 0.7;
}


.img-trans {
	opacity: 0.7;
}

.img-trans:hover {
	opacity: 1;
	transition: opacity 0.5s;
}
