h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}


p, div {
	font-family: 'Oxygen', sans-serif;
}





.table > tbody > tr.tr-climber {
     background-color: #FFE2C9 !important;
}

.table > tbody > tr.tr-conifer {
     background-color: #FFF9C9 !important;
}