<% provide(:title, 'New Notification') %>
<% provide(:prev_page, 'Notifications') %>
<% provide(:prev_link, notifications_path) %>

<h1><span class="preceding-heading"><%= link_to 'Notifications', notifications_path %> <i class="fa fa-chevron-right"></i></span> New Notification</h1>
<hr/>
 
<%= render 'form' %>