
body {
  background: #ddd;
}

.padding-mobile {
  position: relative;
}

.container {
  background: white;
  color: black;	
  box-shadow: 4px 0 10px #ccc, -4px 0 10px #ccc;
}

h1, h2, h3, h4, h5, h6, legend {
	font-family: 'Montserrat', sans-serif;
	color: #004CFF;
}

th {
	font-family: 'Montserrat', sans-serif;
	color: black;
}


p, td, label, dd, dt, a, ul, li {
	font-family: 'Oxygen', sans-serif;
	color: black;
}

input {
	color: black;
}

.navbar {
  background: black;
  color: white;

  background: -moz-linear-gradient(top, #2E2E2E 0%, black);
  background: -webkit-gradient(linear, left top, left bottom, from(#2E2E2E), to(black));
  background: -o-linear-gradient(top, #2E2E2E 0%, black);
  background: -linear-gradient(top, #2E2E2E 0%, black);
}

.navbar-title-block > p > strong {
  color: white;
}

a {
  color: black;
}

td > a {
  color: #222;
}

.bottom-nav-control p {
  color: white;
  opacity: 0.7;
}

.bottom-nav-control h3 {
  color: white;
}


.navbar-inverse .navbar-brand {
	color: white;
}

strong {
	color: black;
}

.padding-mobile > strong {
	color: white;
}

.admin-pages-tab li a {
	color: #ccc;
}

ul.dropdown-menu {
  background: #222;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background: #222;
}

.navbar-prev-page-block {
	color: black;
}

.navbar-prev-page-block i {
	color: #444444;
}

.navbar-brand-custom:hover *, .navbar-prev-page-block:hover, a:hover, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .center-wrapper-inner > li > a:hover, a > p:hover, .preceding-heading > a:hover, .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus, a:focus, .no-description > a:hover, td> a > span.no-description:hover  {
  color: #004CFF;
  text-decoration: none;

  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;

}



.navbar-toggle {
	background: #222222;
}

.navbar-collapse {
	border: none;
}


.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover{
	color: white;
}

.navbar-admin-tab {
	background: black;
}

.navbar-admin-tab p {
	color: white;
}

.navbar-admin-tab:hover p {
  color: #004CFF;
}

.navbar-admin-tab:active p {
  color: #004CFF;
}

.navbar-admin-tab:before {
  background: url('tab-corner-left-2.png');
  background-size: 30px 30px;
  background-repeat: no-repeat;  
}

.navbar-admin-tab:after {
  background: url('tab-corner-right-4.png');
  background-size: 30px 30px;
  background-repeat: no-repeat;  
}



.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
  background: #ddd;
 }

 td {
  color: #222;
 }

.no-description > a {
  color: #666;
}

p.no-description {
  color: #aaa;
}

dt.no-description {
  color: #666;
}

dt + p {
  margin-left: 8px;
}

hr {
	border-top: 1px solid #ccc;
}

legend {
  border-color: #bbb;
}

.btn-orange {
	border-color: #0B59D6;
	background: #005AEB;
	color: white;
}

.btn-orange:hover, .btn-orange:focus {
	background: #1C73FF;
	border-color: #005AEB;
	color: white;
}


.btn-centered {
	width: 120px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -9px;
}

.item-counter {
	font-size: x-large;
	color: #777;
	margin-left: 10px;
}


.admin-pages-tab {
	background: black;
	color: black;
  position: fixed;
  bottom: 0;
  height: 40px;
  padding: 0 7px;
  padding-top: 9px;
  z-index: 1000;


  background: -webkit-linear-gradient(#2E2E2E, black, black, #2E2E2E); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#2E2E2E, black, black, #2E2E2E); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#2E2E2E, black, black, #2E2E2E); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#2E2E2E, black, black, #2E2E2E); /* Standard syntax */

}

.admin-pages-tab-left {
	left: 0;
	width: 19%;
	min-width: 150px;
	padding-top: 11px;
}

.admin-pages-tab-right {
	left: 19%;
	width: 81%;
}

.admin-pages-tab p {
	color: white;
	font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: small;
}

.center-wrapper >.center-wrapper-inner > li {
	display: inline;
	list-style-type: none;
	padding: 0;
	font-size: small;
}

.centered {
	display: inline-block;
	margin: 0 auto;
}

.preceding-heading, .preceding-heading > a {
	color: #666;
	font-size: large;
	font-family: 'Montserrat', sans-serif;
}

.padding-mobile > .btn-group {
	width: auto;
	float: right;
	margin-top: -45px;
}

.btn-top {
	width: 100px;
}

.form-control:focus {
	box-shadow: 0px 1px 1px #004CFF inset, 0px 0px 3px #004CFF;
	border-color: #004CFF;
}

.dropdown-menu > .li-current {
	padding: 3px 20px;
}

.li-current {
	color: white;
	font-weight: 700;
}

.circle-large {
  float: none;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.circle-xlarge {
  float: none;
  display: inline-block;
  width: 32px;
  height: 32px;
  position: absolute;
  margin-top: 42px;
  border: 0.5px solid #111;
}

.form-control-wrapper {
  margin-left: 42px;
}

.center-wrapper-inner > li > a, .center-wrapper-inner > li.li-current {
  padding: 10px 15px;
}


.tables-list-wrapper {
  width: 100%;
}

.table-list-admin {
  display: none;
  width: 100%;
}

.table-list-admin > table > tbody > tr > td:first-child  {
  padding-right: 0;
  width: 30px;
  text-align: center;
}

.table-list-admin > table > tbody > tr > td:nth-child(2) > a {
  width: 100%;
  display: inline-block;
} 

.table-list-admin > table > tbody > tr > td:last-child  {
  width: 80px;
  text-align: center;
}

.admin-pages-row {
  height: 170px;
  padding: 0 7px;
}

.admin-pages-boxes-container {
  width: 100%;
  margin: 0 auto;
}

.admin-pages-column {
  padding: 10px;
  width: 25%;
  display: inline-block;
  height: 100%;
  margin-right: -4px;
}


.admin-pages-box {
  background: black;
  height: 100%;
  border: 1px solid #111;
  width: 100%;
  position: relative;
}

.apb-1 {  background: url('admin-box-notifications-3.jpg');  background-position: center; }
.apb-2 {  background: url('admin-box-users-2.jpg');  background-position: center; }
.apb-3 {  background: url('admin-box-plants-2.jpg');  background-position: center; }
.apb-4 {  background: url('admin-box-photos-7.jpg');  background-position: center; }
.apb-5 {  background: url('admin-box-climates-2.jpg');  background-position: center; }
.apb-6 {  background: url('admin-box-origins-3.jpg');  background-position: center; }
.apb-7 {  background: url('admin-box-flower-colours-2.jpg');  background-position: center; }
.apb-8 {  background: url('admin-box-leaf-colours-3.jpg');  background-position: center; }
.apb-9 {  background: url('admin-box-sizes-1.jpg');  background-position: center; }
.apb-10 {  background: url('admin-box-soil-types-3.jpg');  background-position: center; }
.apb-11 {  background: url('admin-box-types-1.jpg');  background-position: center; }

.admin-pages-box:after {
  content: "";
  width: 100%;
  height: 120px;
  background-color:rgba(255,255,255,0);
  position: absolute;
  top: 28px;
  left: 0;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -ms-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}

.admin-pages-box:hover:after {
  background-color:rgba(255,255,255,0.2);
}

.admin-page-heading {
  position: absolute;
  left: 0;
  background: #111;
  width: 100%;
  text-align: center;
  padding: 4px 0;
  color: white;
}

.button-admin-new {
  margin-top: -45px;
  float: right;
}

.alert-orange {
  background: #004CFF;
  border-color: #005AEB;
  padding: 10px 12px;
  margin-top: 20px;
}

.alert-orange > p {
  color: white;
}


.alert-close-button:hover {
  cursor: pointer;
  color: white;
}

li.admin-minibutton > a {
  display: none;
}

li.admin-minibutton.minidivider {
  display: none;
}

li.minidivider {  
  color: #ccc;
}

.pagination > .active > span, .pagination > .active > span:hover {
  background: #005AEB;
  border-color: #005AEB;
}

.pagination > li > a {
  background: #444;
  border-color: #333;
  color: white;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover {
  background: #333;
  border-color: #222;
  color: #ddd;  
}

.pagination > li > a:hover {
  background: #555;
  border-color: #444;
  color: white;
}

.pagination-info {
  margin-bottom: -10px;
}

.pagination-info strong {
  color: black;
}

.photo-row {
  display: inline-table;
  width: 40%;
  margin-bottom: 5px;
  padding: 10px;
}

.photo-row > a > img {
  max-width: 100%;
  max-height: 200px;
  margin-bottom: 10px;
}

.form-photo-box {
  border-color: #444;
}

.h1-shrink {
  width: 75%;  
}

.header-button-container {
  position: absolute;
  top: -20px;
  right: 20px;
  height: 30px;
}

input {
  color: black;
}

.photo-box-display {
  border-color: #1C73FF;
}

.check_boxes > .controls {
  height: auto;
  overflow: hidden;
}

.controls > input, .controls > textarea, .controls > select, select.form-control {
  background: white;
  border-color: #aaa;
  color: black;
}

.alert.alert-danger {
  background: #A94442;
  border-color: #823230;

}



/* Media Queries */



@media (max-width: 1200px) {
  .admin-pages-boxes-container {
    width: 100% !important;
    margin: 0 !important;
  } 
}

@media (max-width: 1400px) {
  .center-wrapper > .center-wrapper-inner > li > a, .center-wrapper > .center-wrapper-inner > li.li-current {
    padding: 10px 9px;
  }
  .admin-pages-boxes-container {
    width: 80%;
    margin: 0 10%;
  }
  .admin-pages-row {
    height: 140px;
  }
  .admin-pages-box:after {
    height: 90px;
  } 
}

/*
@media (max-width: 1230px) {
  .center-wrapper > .center-wrapper-inner > li > a, .center-wrapper > .center-wrapper-inner > li.li-current {
    padding: 10px 5px;
  }
}
*/


@media (max-width: 1200px) {

  /*
  .center-wrapper > .center-wrapper-inner > li > a, .center-wrapper > .center-wrapper-inner > li.li-current {
    padding: 10px 3px;
  }
  .center-wrapper > .center-wrapper-inner > li {
    font-size: 12px;
  }
  */

  .center-wrapper > .center-wrapper-inner > li > a, .center-wrapper > .center-wrapper-inner > li.li-current {
    padding: 10px 13px;
    font-size: 15px;
  }

  .center-wrapper > .center-wrapper-inner > li > a > .admin-list-name {
    display: none;
  }

}




/*

@media (max-width: 850px) {
  .center-wrapper >.center-wrapper-inner > li > a, .center-wrapper > .center-wrapper-inner > li.li-current {
    padding: 10px 2px;
  }
  .center-wrapper > .center-wrapper-inner > li {
    font-size: 10px;
  }
}

*/

@media (max-width: 768px) {
  .admin-pages-tab-left, .admin-pages-tab-right {
    width: 50%;
  }
  .admin-pages-tab-right {
    left: 50%;
  }
  .btn-group > .btn-top {
    width: 90px;
  }
  .thd-disappear {
    display: none;
  }

  .admin-pages-tab-left {
    display: none;
  }

  .admin-pages-tab-right {
    width: 100%;
    left: 0;
  }

  li.admin-minibutton > a {
    display: inline;
  }

  li.admin-minibutton.minidivider {
    display: inline;
  }

  .center-wrapper > .center-wrapper-inner > li > a, .center-wrapper > .center-wrapper-inner > li.li-current {
    padding: 10px 8px;
    font-size: 14px;
  }



  /*.h1-shrink {
    width: 500px;
  }*/
}


@media (min-width: 500px) {
  .under-500 {
    display: none;
  }  
}

@media (max-width: 992px) {
  .admin-pages-row {
    display: none;
  }
  .table-list-admin {
    display: block;
  }
  .h1-shrink {
    width: 60%;
  }

}


@media (max-width: 500px) {

  .h1-shrink {
    font-size: 150%;
    margin-top: 30px;
    margin-bottom: -5px;
  }
  .preceding-heading a, .preceding-heading i {
    font-size: small;
  }
  .item-counter {
    font-size: medium !important;
  }

  .btn-group > .button-shrink {
    width: 35px !important;
    padding: 4px;
    top: -10px;
  }

  .padding-mobile > .button-admin-new {
    margin-top: -26px;
  }

  .center-wrapper > .center-wrapper-inner > li > a, .center-wrapper > .center-wrapper-inner > li.li-current {
    padding: 10px 5px;
    font-size: 14px;
  }

  .btn-group > .btn-top {
    width: 30px;
  }

  .over-500 {
    display: none;
  }
  .circle-large {
    width: 15px;
    height: 15px;
  }

  .photo-row {
    width: 100%;
  }

  .photo-row > a > img {
    max-width: 100%;
  }
  /*.h1-shrink {
    width: 200px;
  }*/

  .header-button-container {
    top: -30px;
  }
}

@media (max-width: 350px) {
  .over-350 {
    display: none;
  }
}

@media (max-width: 300px) {
  .over-300 {
    display: none;
  }
}

