
body {
  background: black;
}

.container {
  background: #111111;
  color: white;	
  box-shadow: 2px 0 7px #111111, -2px 0 7px #111111;
}



h1, h2, h3, h4, h5, h6, th, legend {
	font-family: 'Montserrat', sans-serif;
	color: white;
}


p, td, label, dd, dt, a, strong, ul, li {
	font-family: 'Oxygen', sans-serif;
	color: white;
}

input {
	color: black;
}

.navbar, .nav {
	background: white;
	color: black;

  background: -webkit-linear-gradient(#DDDDDD, white, #DDDDDD); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#DDDDDD, white, #DDDDDD); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#DDDDDD, white, #DDDDDD); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#DDDDDD, white, #DDDDDD); /* Standard syntax */

}

.navbar-brand * {
	color: black;
}

.navbar-toggle {
	background: #222222;
}


.nav li a:hover {
	color: black !important;
}
