h1, h2, h3, h4, h5, h6, th, legend {
	font-family: 'Montserrat', sans-serif;
	padding: 10px;
}


p, div, td, label, dd, dt {
	font-family: 'Oxygen', sans-serif;
}

.main { 
	padding: 25px;
}

.well {
	padding-top: 0px;
}

.img-rounded {
	border-radius: 5px;
}

.img-padded {
	margin: 5px 0px;
}


.scrollbar-area {
	overflow-y: scroll;
}

th {
	position: sticky;
}

tr {
	height: 10px;
	border-top: 2px;
}

td {
	padding: 10px;
}





.navbar-inverse {
	background: black;
	border-radius: 0px;
	border: 15px;
}


body {
	height: 100%;
}

footer {
	border-top: 5px solid gray;
	background: #F5F5F5;
	padding: 20px 5px;
	height: 80px;
	/* A sneaky way to ensure that the footer always goes to the bottom of the page. Haha. */
	box-shadow: 0px 500px 0px 500px #F5F5F5;

}

footer p, a {
	color: #474747;
	
}





.bottom-nav-control p {
	color: white;
	opacity: 0.7;
}

.bottom-nav-control h3 {
	color: white;
}


.img-trans {
	opacity: 0.7;
}

.img-trans:hover, .bottom-nav-control p:hover {
	opacity: 1;
	transition: opacity 0.2s;
}



label {
  margin-top: 15px;
}

.help-block {
  margin-bottom: 0px;
}


textarea {
  resize: vertical;
}

.info-tab {
  width: 14.285714286%;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  float: left;
  padding: 0 5px;
  padding-top: 7px;
  border-right: 1px solid #ccc;
  background: #eee;
	box-shadow: 2px 2px 8px #ccc;
  
}

.info-tab:hover {
  cursor: pointer;
}

.info-tab-current {
  background: white;
  border-bottom: 0;  
  box-shadow: none;
}

.info-tab-current:hover {
  cursor: auto;
}

.info-tab-disabled {
  background: #ddd;
}

.info-tab-disabled:hover {
  cursor: not-allowed;
}

.info-tab p {
	font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: x-small;
}

.info-tab-disabled p {
	color: gray;
}

