h1, h2, h3, h4, h5, h6, th, legend {
	font-family: 'Montserrat', sans-serif;
}


p, div, td, label, dd, dt {
	font-family: 'Oxygen', sans-serif;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

b {
	font-family: "Courier";
	font-size: 1.2em;
}



.main { 
	padding: 25px;
}

.well {
	padding-top: 0px;
}

.img-rounded {
	border-radius: 5px;
}

.img-padded {
	margin: 5px 0px;
}


.scrollbar-area {
	overflow-y: scroll;
}

th {
	position: sticky;
}

tr {
	height: 10px;
	border-top: 2px;
}

td {
	padding: 10px;
}

.navbar-brand-custom {
  margin-right: 5px;
  float: right;
  padding-left: 5px;
  padding-right: 1px;
  margin-top: -2px;
}

.img-trans {
	opacity: 0.7;
}

.img-trans:hover, .bottom-nav-control p:hover {
	opacity: 1;
	transition: opacity 0.2s;
}



label {
  margin-top: 15px;
}

.help-block p {
  margin-bottom: 0px;
}


textarea {
  resize: vertical;
}

textarea.form-control {
  height: 160px;
}

.fieldset-search-form .check_boxes > .controls {
  height: auto;
  overflow: hidden;
}

.fieldset-search-form .check_boxes > .controls {
  height: auto;
  overflow: hidden;
}

.info-tab-33 {
  width: 33.3333333%;
  min-width: 93.333333333px;
}

.info-tab-disabled {

}

.info-tab-disabled:hover {
  cursor: not-allowed;
}

.center-wrapper {
  display: table;
  margin: 0 auto;
}

.center-wrapper-inner {
  display: inline-block; 
}

.center-wrapper-inner > * {
  text-align: center;
}


.info-body {
  min-height: 100px;
}

.info-body p {
  margin-left: 10px;
  margin-bottom: 20px;
}

.info-body .help-block {
  margin-bottom: 0;
}

.action-tab:hover {
  cursor: pointer;
}

.action-tab {
  width: 50%;
  float: left;
  padding: 3px 5px;
  position: fixed;
  height: 30px;
  bottom: 40px;
  left: 0;
}


.padding-mobile {
  padding: 0 10px;
}

.check_boxes > .controls {
  padding: 0 15px;
  /*  padding-bottom: 5px; */
  /* border: 1px solid #ccc; */
  /* border-radius: 4px; */
  height: auto;
  background-color: #222;
  border-radius: 3px;
}




.check_boxes .checkbox .radio{
  font-size: small;
  font-weight: 400;
  font-family: 'Oxygen', sans-serif;
}



.check_boxes.optional.form-control {
	height: 15px;
}

label.checkbox {
  padding-left: 10px;
}

.checkbox input[type="checkbox"] {
  /*margin-left: -18px;*/
  margin-top: 0;
  /*float: left;*/
}

.form-photo-box {
  border: 1px solid #333;
  padding: 5px;
  margin-bottom: 10px;
}

.btn-welcome {
  width: 80%;
  margin: 0 10%;
  padding: 20px 0;
  font-size: medium;
	font-family: 'Montserrat', sans-serif;
}

.search {
  width: 100%;
  margin: 0 10%;
  padding: 20px ;
  font-size: medium;
	font-family: 'Montserrat', sans-serif;
}

.search-bar-container {
  width: 100%;
  margin: 0;
}

.dropdown-checkboxes {
  display: none;
  border-top: 0;
}

.dropdown-radiobuttons {
    display: none;
    border-top: 0;
}


.btn-searchlist {
  border-radius: 0;
  margin-top: 5px;
  position: relative;
}

.btn-searchlist-down:after, .btn-searchlist-up:after {
  font-family: FontAwesome;
  font-size: 12px;
  position: absolute;
  right: 6px;
  top: 7px; 
}

.btn-searchlist-down:after {
  content: "\f078";
}

.btn-searchlist-up:after {
  content: "\f077";
}


.legend-center-aligned {
  text-align: center;
}

.plant-index-box {
  width: 100%;
  height: 80px;
  position: relative;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.plant-index-box-photo {
  width: 80px;
  height: 80px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
  position: absolute;
  left: 0;
  top: 0;

}
.plant-index-box-content {
  height: 60px;
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.plant-index-box-content-wrapper {
  width: 100%;
  padding-left: 70px;
  padding-right: 70px;
}

.plant-index-box-chevron {
  position: absolute;
  right: 0;
  top: 0;
  height: 80px;
  width: 44px;
  padding-top: 26px;
  padding-left: 12px;
  font-size: large;
}

.plant-index-tab {
  width: 100%;
  height: 24px;
  padding: 4px 0;
  z-index: 1000;
  position: fixed;
  top: 50px;
  overflow: hidden;
}

.plant-index-tab p {
	font-family: 'Montserrat', sans-serif;
  font-size: small;
} 

.plant-text-container {
  text-align: center;
  margin-bottom: 0px;
  font-size: 120%;
}

.navbar-collapse :hover {
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}


.navbar-title-block {
  margin-bottom: 0px;
  margin-left: -10px;
  font-size: small;
  width: 100%;
  left: 0;
}


.navbar-title-block p {
  position: absolute;
  right: 25px;
  text-align: center;
  width: 100%;
}

.navbar-prev-page-block {
  margin-bottom: 0px;
  font-size: small;
  margin-left: -10px;
  position: absolute;
  left: 0;
  width: auto;
  padding-right: 0;
  z-index: 1100;
}

.navbar-uwacrest-block {
  margin-left: -10px;
  width: 80px;
  position: absolute;
  left: 0;
}



.navbar-admin-tab {
  width: 120px;
  height: 30px;
  position: fixed;
  right: 2%;
  top: 50px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 1050;
}

.navbar-admin-tab p, .sort-by-tab p {
  text-align: center;
  font-size: x-small;
  margin-top: 6px;
  font-family: 'Montserrat', sans-serif; 
}


.navbar-admin-tab:hover p, .sort-by-tab:hover p {
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.navbar-admin-tab:active p, .sort-by-tab:active p {
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}


.navbar-admin-tab:before {
  left: -30px;
}

.navbar-admin-tab:after {
  right: -30px;
  top: 0;
}

.navbar-admin-tab:before, .navbar-admin-tab:after {
  position: absolute;
  display: block;
  content: "";
  width: 30px;
  height: 30px;  
  background-size: 30px 30px;
  background-repeat: no-repeat;  
}


.navbar-admin-tab a {
  text-decoration: none; 
}

.navbar-nav > li.logout {
  padding: 15px;
}

.navbar-nav > li > a.logout {
  display: inline;
  padding: 15px 0;
}


.display-photo-right {
  float: right;
  margin-left: 10px;
  max-width: 50%;
  max-height: 50%;
}

#display-photo-main:hover {
  cursor: pointer;
}

.colour-circle {
  float: left;
  margin-top: 2px;
  margin-right: 8px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}



table, .table > tbody > tr > td, .table > thead > tr > th, .table-responsive {
  border: 0;  

}

.table > tbody > tr > td {
  vertical-align: middle;
}

.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
  background: none;
}


tr:nth-child(odd) td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

tr:nth-child(odd) td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}


.index-banner {
	position: fixed;
	width: 100%;
	left: 0;
	top: 50px;
	height: 30px;
	z-index: 1002;
  padding-left: 0;
  padding-top: 4px;
}

.index-banner ul {
  padding-left: 0;
}

.index-banner li {
  padding-left: 10px;
  display: inline-block;
  list-style: none;
}

.grid-photo-container {
  display: inline-block;
  width: 10%;
  height: auto;
  margin-right: -4px;
  position: relative;
}

.grid-photo-container:hover .grid-photo-container-text {
  background: rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 1);
}

.grid-photo-container-text {
  background-blend-mode: multiply;
  background: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1001;
  text-align: center;
  font-size: 1em;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -ms-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;

  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}



@media(max-width: 800px) {
  .grid-photo-container {
    width: 12.5%;
  }
}

@media(max-width: 600px) {
  .grid-photo-container {
    width: 16.6666667%;
  }
}

@media(max-width: 500px) {
  .grid-photo-container {
    width: 20%;
  }
}

@media(max-width: 400px) {
  .grid-photo-container {
    min-width: 60px;
    min-height: 60px;
    width: 25%;
  }
}


.favourite-form {

  margin-top: -8px;
  float: right;
}

.favourite-form a, a:hover {
  text-decoration: none;
}




.slideshow{
  position: relative;
  display: block;
  overflow: hidden;
}

figure{
  position: absolute;
  opacity: 0;
  transition: 0.4s opacity;
}

figcaption{
  position: absolute;
  font-family: 'Oxygen', sans-serif;
  font-size: .8em;
  left: 0;
  bottom: 0;
  padding: .25em;
  color: white;
  background: rgba(0,0,0, .7);
  width: 100%;
}


.fig-item-number {
  color: white;
  background: black;
  padding: .25em 15px;


}

figcaption a{
  color: #fff;
}

figure.show {
  opacity: 1;
  position: static;
  transition: 0.4s opacity;
}


.ss-next, .ss-prev{
  color: #fff;
  position: absolute;
  top: 50%;
  z-index: 1;
  font-size: 40px;
  margin-top: -.75em;
  opacity: .75;
  user-select: none;
}

.ss-next:hover, .ss-prev:hover{
  cursor: pointer;
  opacity: 1;
}

.ss-next{
  right: 0;
  padding: 10px 5px 15px 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.ss-prev{
  left: 0;
  padding: 10px 10px 15px 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  top: 100;
}


.kw-search-box {
  width: 67%;
  float: right;
  margin-bottom: 4px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.kw-search-name {
  width: 33%;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid #FFDFBA;
  border-radius: 4px 4px 4px 4px;
  color: black;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  margin-bottom: 4px;
}

.dropdown-checkboxes {
  border: 1px solid white;
}

.navbar-inverse .navbar-brand {
  font-weight: 700;
}



ul.sources-list > li {
  display: inline-block;
  margin-right: 20px;
}

p.help-block.kwsearch {
  margin-bottom: 0px;
}

h3.or-block {
  margin-left: 45%;
  margin-right: 45%;
  text-align: center;
  margin-top: -35px;
}


.thanks-for-visiting-container {
  margin-top: -40px;
  padding-top: 40px;
}


.feedback-welcome-container {
  margin-top: -20px;
  padding-top: 20px;
  margin-bottom: 50px;
}

.contact-us-heading {
  margin-bottom: 35px;
}

.feedback-welcome-heading {
  text-align: center;
}

.feedback-welcome p {
  text-align: center;
}

.feedback-welcome {
  max-width: 400px;
  margin: 0 auto;
  padding-bottom: 15px;
}

.action-tab-100 {
  width: 100%;
}







/* Media Queries */

@media (max-width: 768px) {
  .over-768 {
    display: none;  
  }
}


@media (min-width: 300px) {
  body {
    overflow-x: hidden;
  }
}

@media (max-width: 400px) {
  .navbar p > strong {
    font-size: 90%;
  }

  .th-shrink, .td-shrink {
    width: 30px !important;
  }

  .over-400 {
    display: none;
  }

}


@media (min-width: 768px) {
  .navbar-right {
    position: fixed;
    right: 90px;
  }
  .navbar-brand {
    margin-left: -10px !important;
  }
  .navbar-brand-custom {
    padding-left: 18px !important;    
  }

  .navbar-title-block p {
      right: 200px;
  }
  .under-768 {
    display: none;
  }
}


.visible {
	display: block !important;
}

.invisible {	
	display: none !important;
}
