body, .navbar {
  min-width: 280px;
  background: #ddd;  
}


hr {
  border-color: #ddd;
}

.container {
  background: white;
  box-shadow: 4px 0 10px #ccc, -4px 0 10px #ccc;
  min-height: 100vh;
}

.list-active {
  font-weight: 700;
  color: black;
}






.navbar-inverse {
	background: black;

  background: -moz-linear-gradient(top, #2E2E2E 0%, black);
  background: -webkit-gradient(linear, left top, left bottom, from(#2E2E2E), to(black));
  background: -o-linear-gradient(top, #2E2E2E 0%, black);
  background: -linear-gradient(top, #2E2E2E 0%, black);

	border-radius: 0px;
	border: 15px;
}



a {
	color: #474747;
}

p > a {
  font-weight: 700;
}




.bottom-nav-control p {
	color: white;
	opacity: 0.7;
}

.bottom-nav-control h3 {
	color: white;
}


.check_boxes > .controls {
  background: white;
}

.coloured-text {
  color: #268BFF;
}


.fieldset-search-form {
  background: #eee;
  border-radius: 10px;
  width: 90%;
  margin: 0 5%;
  padding: 20px;
}

.info-tab {
  width: 25%;

  float: left;
  padding: 0 7px;
  padding-top: 9px;
  border-right: 1px solid #222;
  background: #eee;
  position: fixed;
  bottom: 0;
  height: 40px;

  background: black;

  background: -webkit-linear-gradient(#2E2E2E, black, black, #2E2E2E); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#2E2E2E, black, black, #2E2E2E); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#2E2E2E, black, black, #2E2E2E); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#2E2E2E, black, black, #2E2E2E); /* Standard syntax */

}

.info-tab:hover {
  cursor: pointer;

  background: #2E2E2E;

  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -ms-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;

  background: -webkit-linear-gradient(#363636, #111111, #111111, #363636); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#363636, #111111, #111111, #363636); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#363636, #111111, #111111, #363636); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#363636, #111111, #111111, #363636); /* Standard syntax */

}

.info-tab-current, .info-tab-current:hover, .info-tab:active {

  background: #268BFF;

  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: color 0 ease-in;
  transition: none;

  background: -webkit-linear-gradient(#5CA8FF, #268BFF, #268BFF, #5CA8FF); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#5CA8FF, #268BFF, #268BFF, #5CA8FF); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#5CA8FF, #268BFF, #268BFF, #5CA8FF); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#5CA8FF, #268BFF, #268BFF, #5CA8FF); /* Standard syntax */

}




.info-tab p {
	font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: small;
  color: white;
}

.info-tab-disabled p {
	color: #333;
}





.action-tab {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background: #eee;
}



.help-inline {
  color: rgb(169, 68, 66);
}


.navbar-brand-custom:hover *, .navbar-prev-page-block:hover, a:hover, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .center-wrapper-inner > li > a:hover, a > p:hover, .preceding-heading > a:hover, .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus, a:focus, .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover  {
  color: #004CFF;
  text-decoration: none;

  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;

}



/*
.checkbox-container {
  display: inline-block;
  background: red;
  vertical-align: -1px;
  margin: 5px;
}

.checkbox-container input {
  display: inline;
}

.checkbox-container .collection_checkboxes {
  display: inline;
}
*/


.photo-box-display {
  border: 1px solid #268BFF;
}

.btn-welcome {
  background: #eee;
}

.search {
  background: #eee;
}

.dropdown-checkboxes {
  border: 1px solid #ccc;
  background: white;
}

.btn-searchlist, .kw-search-name {
  background: #D1E7FF;
  border: 1px solid #BADAFF;
}

.btn-searchlist:hover, .btn-searchlist:active {
  background: #BADAFF;
  border-color: #B3D6FF;  
}



legend {
  border-color: #ddd;
}

.plant-index-box {
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.plant-index-box-photo {
  border-right: 1px solid #ccc;
}


.plant-index-tab {
  border-bottom: 1px solid #ccc;
  background: #FFF8D9;
}



.navbar-brand {
  color: #bbb;
}


.navbar-title-block p {
  color: white;
}



.navbar-admin-tab {
  background: black;
  color: white;
}

.navbar-admin-tab p, .sort-by-tab p {
  color: white;
}

.navbar-admin-tab:hover p, .sort-by-tab:hover p {
  color: #268BFF;
}

.navbar-admin-tab:active p, .sort-by-tab:active p {
  color: #268BFF;
}



.navbar-admin-tab:before {
  background: url('tab-corner-left-2.png');
}

.navbar-admin-tab:after {
  background: url('tab-corner-right-4.png');
}


.navbar-inverse .navbar-nav > li  {
  color: rgb(119, 119, 119);
}

.display-photo-right {
  border: 1px solid #ccc;
}

.colour-circle {
  background: white;
}






.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
  background: #eee;
 }




/* Sort tab */

/*

.sort-by-tab {
  width: 70px;
  height: 30px;
  background: black;
  color: white;
  position: fixed;
  left: 10px;
  top: 50px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 1050;
}

.sort-by-tab p {
  color: white;
  text-align: center;
  font-size: small;
  margin-top: 6px;
  font-family: 'Montserrat', sans-serif; 
}

.sort-by-tab-current {
  background: #ccc;
  z-index: 1060;  
}

.sort-by-tab-current p {
  color: black;
}


.sort-by-tab:before {
  left: -30px;
  background: url('tab-corner-left-2.png');
}

.sort-by-tab:after {
  right: -30px;
  top: 0;
  background: url('tab-corner-right-4.png');
}

.sort-by-tab-current:before {
  left: -30px;
  background: url('tab-corner-left-2.png');
}

.sort-by-tab-current:after {
  right: -30px;
  top: 0;
  background: url('tab-corner-right-4.png');
}



.sort-by-tab:before, .sort-by-tab:after {
  position: absolute;
  display: block;
  content: "";
  width: 30px;
  height: 30px;  
  background-size: 30px 30px;
  background-repeat: no-repeat;  
}


.sort-by-tab a {
  text-decoration: none; 
}

*/


.index-banner {
  background: #ddd;
  border-bottom: 1px solid #ccc;
}

.index-banner > ul > a > li {
  border: 1px solid #aaa;
  border-radius: 3px;
  background: #ccc;
}

.index-banner > ul > a > li:hover, .index-banner > ul > a > li:active {
  background: #eee;
}

.list-header {
  border-top: 1px solid #94BDFF;
  border-bottom: 1px solid #94BDFF;
  background: #D1E7FF;
}














/* New */

.action-tab-100 {
  width: 100%;
}



.feedback-welcome-heading {
  color: #1C73FF;
}


.feedback-welcome-container {
  background: #eee;
}

.thanks-for-visiting-container {
  background: #eee;
}





.btn-orange {
  border-color: #0B59D6;
  background: #005AEB;
  color: white;
}

.btn-orange:hover, .btn-orange:focus {
  background: #1C73FF;
  border-color: #005AEB;
  color: white;
}


.action-tab .fa.fa-edit {
  color: #0022FF;
}

.action-tab .fa.fa-tree {
  color: #007308;
}

.navbar-inverse .navbar-brand {
  color: white;
}

h3.or-block {
  background: white;
}

.side-nav > ul > a > li {
  border: 1px solid rgb(170, 170, 170);
  background: rgb(204, 204, 204);
}