
/*
body, html {
	height: 100%;
	overflow: hidden;
}
*/

p {
	text-align: justify;
	text-justify: inter-word;
}

table td, th {
	border-left: 0 !important;
	border-right: 0 !important;
}

table th .bordered {
	border-left: 1px solid gray !important;
	border-right: 0 !important;
}

table td span {
	color: #BFBFBF;
	margin-top: 2px;
}

table td img {
	width: 32px;
}

table th img {
	width: 24px;
}


.table > tbody > tr.tr-climber {	
    background: -webkit-linear-gradient(#FFE8D4, #FFF4EB, #FFE8D4); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#FFE8D4, #FFF4EB, #FFE8D4); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#FFE8D4, #FFF4EB, #FFE8D4); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#FFE8D4, #FFF4EB, #FFE8D4); /* Standard syntax */
}

.table > tbody > tr.tr-conifer {	
    background: -webkit-linear-gradient(#FFFCE0, #FFFDF0, #FFFCE0); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#FFFCE0, #FFFDF0, #FFFCE0); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#FFFCE0, #FFFDF0, #FFFCE0); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#FFFCE0, #FFFDF0, #FFFCE0); /* Standard syntax */
}

.table > tbody > tr.tr-fern {	
    background: -webkit-linear-gradient(#E3FFE8, #F0FFF2, #E3FFE8); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#E3FFE8, #F0FFF2, #E3FFE8); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#E3FFE8, #F0FFF2, #E3FFE8); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#E3FFE8, #F0FFF2, #E3FFE8); /* Standard syntax */
}

.table > tbody > tr.tr-grass {	
    background: -webkit-linear-gradient(#E7FFD6, #F1FFE8, #E7FFD6); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#E7FFD6, #F1FFE8, #E7FFD6); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#E7FFD6, #F1FFE8, #E7FFD6); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#E7FFD6, #F1FFE8, #E7FFD6); /* Standard syntax */
}







#bottom-nav-mobile {

    background: -webkit-linear-gradient(#2E2E2E, black, black, #2E2E2E); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#2E2E2E, black, black, #2E2E2E); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#2E2E2E, black, black, #2E2E2E); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#2E2E2E, black, black, #2E2E2E); /* Standard syntax */
	
	width: 100%;
	position: fixed;
	bottom: 0px;
	height: 60px;
	padding: 4px 0px;
	
	
}

.bottom-nav-box {
	height: 100%;
	width: 33.3%;
	display: table-cell;
	padding: 14px;
}

.bottom-nav-box p {
	color: white;
	text-align: center;
	font-size: medium;
}

.bottom-nav-box:active {
	background: rgba(255, 255, 255, 0.2);
	
}











.viewport-flip {
    -webkit-perspective: 1000;
    position: absolute;
}

.ui-mobile-viewport-transitioning,
.ui-mobile-viewport-transitioning .ui-page {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.flip {
    -webkit-animation-duration: .65s;
    -webkit-backface-visibility:hidden;
    -webkit-transform:translateX(0); /* Needed to work around an iOS 3.1 bug that causes listview thumbs to disappear when -webkit-visibility:hidden is used. */
}

.flip.out {
    -webkit-transform: rotateY(-180deg) scale(.8);
    -webkit-animation-name: flipouttoleft;
}

.flip.in {
    -webkit-transform: rotateY(0) scale(1);
    -webkit-animation-name: flipinfromleft;
}
