body, .navbar {
  min-width: 280px;
  background: #222222;  
}

hr {
  border-color: #222;
}

.container {
  background: #0A0A0A;
  color: white;
  box-shadow: 2px 0 3px #0A0A0A, -2px 0 3px #0A0A0A;
}







.navbar-inverse {
	border-radius: 0px;
	border: 15px;

  background: white;
  color: black;

  background: -webkit-linear-gradient(#DDDDDD, white, #DDDDDD); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#DDDDDD, white, #DDDDDD); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#DDDDDD, white, #DDDDDD); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#DDDDDD, white, #DDDDDD); /* Standard syntax */

}



a {
	color: #9E9E9E;
}

td > a {
  color: white;
}





.bottom-nav-control p {
	color: black;
	opacity: 0.7;
}

.bottom-nav-control h3 {
	color: black;
}


.check_boxes > .controls {
  background: #222;
}

.coloured-text {
  color: #FFA81C;
}

.alert.alert-info {
  background: #FFA81C;
  border-color: #E8991A;
  color: black;
}



.fieldset-search-form {
  background: #111;
  border-radius: 10px;
  width: 90%;
  margin: 0 5%;
  padding: 20px;
}

.controls > input#search_all {
  background: white;
  border-color: #ccc;
  color: rgb(85, 85, 85);
}

.controls > input#search_all:focus {
  box-shadow: 0px 1px 1px rgb(255, 179, 0) inset, 0px 0px 3px rgb(255, 179, 0);
  border-color: rgb(255, 179, 0);
}

.info-tab {
  width: 25%;

  float: left;
  padding: 0 7px;
  padding-top: 9px;
  border-right: 1px solid #ccc;
  background: #111;
  position: fixed;
  bottom: 0;
  height: 40px;

  background: #DDDDDD;

  background: -webkit-linear-gradient(#DDDDDD, white, #DDDDDD); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#DDDDDD, white, #DDDDDD); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#DDDDDD, white, #DDDDDD); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#DDDDDD, white, #DDDDDD); /* Standard syntax */

}

.info-tab:hover {
  cursor: pointer;

  background: #dddddd;

  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -ms-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;

  background: -webkit-linear-gradient(#bbbbbb, #dddddd, #bbbbbb); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#bbbbbb, #dddddd, #bbbbbb); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#bbbbbb, #dddddd, #bbbbbb); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#bbbbbb, #dddddd, #bbbbbb); /* Standard syntax */

}

.info-tab-current, .info-tab-current:hover, .info-tab:active {

  /* Orange

  background: #FF9112;

  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: color 0 ease-in;
  transition: none;

  background: -webkit-linear-gradient(#FFA238, #FF9112, #FF9112, #FFA238);
	background: -o-linear-gradient(#FFA238, #FF9112, #FF9112, #FFA238);
	background: -moz-linear-gradient(#FFA238, #FF9112, #FF9112, #FFA238);
	background: linear-gradient(#FFA238, #FF9112, #FF9112, #FFA238);

  */

  background: #268BFF;

  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: color 0 ease-in;
  transition: none;

  background: -webkit-linear-gradient(#5CA8FF, #268BFF, #268BFF, #5CA8FF); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#5CA8FF, #268BFF, #268BFF, #5CA8FF); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#5CA8FF, #268BFF, #268BFF, #5CA8FF); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#5CA8FF, #268BFF, #268BFF, #5CA8FF); /* Standard syntax */
  color: white;

}




.info-tab p {
	font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: small;
  color: black;
}

.info-tab-disabled p {
	color: #ccc;
}

.info-tab-current > p, .info-tab:active > p {
  color: white;
}



.action-tab {
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
  border-right: 1px solid #444;
  background: #333;
}

.action-tab p {
  color: white;
}

.help-inline {
  color: rgb(169, 68, 66);
}





input {
  color: white;
}

.controls > input, .controls > textarea, .controls > select, select.form-control {
  background: #222;
  border-color: #111;
  color: white;
}

.form-control:focus {
  box-shadow: 0px 1px 1px #FFB300 inset, 0px 0px 3px #FFB300;
  border-color: #FFB300;
}

.navbar-brand-custom:hover *, .navbar-prev-page-block:hover, a:hover, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .center-wrapper-inner > li > a:hover, a > p:hover, .preceding-heading > a:hover, .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus, a:focus, .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover  {
  color: #FFB300;
  text-decoration: none;

  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;

}

.navbar-toggle {
  background: #222222;
}

.navbar-collapse {
  border: none;
}

.btn-orange {
  border-color: #D6880B;
  background: #EB9100;
  color: white;
}

.btn-orange:hover, .btn-orange:focus {
  background: #FFA81C;
  border-color: #EB9100;
  color: white;
}



/*
.checkbox-container {
  display: inline-block;
  background: red;
  vertical-align: -1px;
  margin: 5px;
}

.checkbox-container input {
  display: inline;
}

.checkbox-container .collection_checkboxes {
  display: inline;
}
*/



.photo-box-display {
  border: 1px solid #FF9A26;
}


.search {
  background: #111;
}

.dropdown-checkboxes {
  border: 1px solid #333;
  background: white;
}

.btn-searchlist, .kw-search-name {
  background: #FFE9D1;
  border: 1px solid #FFDFBA;
}

.btn-searchlist:hover, .btn-searchlist:active {
  background: #FFDFBA;
  border-color: #FFDCB3;  
}



legend {
  border-color: #222;
  color: white;
}

.plant-index-box {
  border-top: 1px solid #222;
}

.plant-index-box p, .plant-index-box-chevron {
  color: #bbb;
}

p.plant-text-container {
  color: white;
}

.plant-index-box-photo {
  border-right: 1px solid #333;
}


.plant-index-tab {
  border-bottom: 1px solid #ccc;
  background: #FFF8D9;
}

.plant-text-container {
  color: white;
}

.navbar-brand {
  color: #555;
}



.navbar-title-block p {
  color: black;
}



.navbar-admin-tab {
  background: #DDDDDD;
  color: black;
}

.navbar-admin-tab p, .sort-by-tab p {
  color: black;
}


.navbar-admin-tab:hover p, .sort-by-tab:hover p {
  color: #FF9A26;
}

.navbar-admin-tab:active p, .sort-by-tab:active p {
  color: #FF9A26;
}



.navbar-admin-tab:before {
  background: url('tab-corner-left-white-1.png');
}

.navbar-admin-tab:after {
  background: url('tab-corner-right-white-1.png');
}


.navbar-inverse .navbar-nav > li  {
  color: rgb(119, 119, 119);
}

.display-photo-right {
  border: 1px solid #222;
}

.colour-circle {
  background: white;
}








 .table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
  background: #222;
 }





/* Sort tab */

/*

.sort-by-tab {
  width: 70px;
  height: 30px;
  background: black;
  color: white;
  position: fixed;
  left: 10px;
  top: 50px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 1050;
}

.sort-by-tab p {
  color: white;
  text-align: center;
  font-size: small;
  margin-top: 6px;
  font-family: 'Montserrat', sans-serif; 
}

.sort-by-tab-current {
  background: #ccc;
  z-index: 1060;  
}

.sort-by-tab-current p {
  color: black;
}


.sort-by-tab:before {
  left: -30px;
  background: url('tab-corner-left-2.png');
}

.sort-by-tab:after {
  right: -30px;
  top: 0;
  background: url('tab-corner-right-4.png');
}

.sort-by-tab-current:before {
  left: -30px;
  background: url('tab-corner-left-2.png');
}

.sort-by-tab-current:after {
  right: -30px;
  top: 0;
  background: url('tab-corner-right-4.png');
}



.sort-by-tab:before, .sort-by-tab:after {
  position: absolute;
  display: block;
  content: "";
  width: 30px;
  height: 30px;  
  background-size: 30px 30px;
  background-repeat: no-repeat;  
}


.sort-by-tab a {
  text-decoration: none; 
}

*/


.index-banner {
  background: #222;
  border-bottom: 1px solid #333;
}

div.dropdown-checkboxes {
  border-color: #222;
}



h3.or-block {
  background: rgb(10, 10, 10); 
}





/* NEW THINGS, AFTER THE STYLE CHANGE */


/* In media queries, navbar p should be navbar p>strong */




.feedback-welcome-heading {
  color: #FFA81C;
}


.feedback-welcome-container {
  background: #111;
}

.thanks-for-visiting-container {
  background: #111;
}






label.checkbox {
  color: white;
}

.dropdown-checkboxes {
  border-color: #111;
  background: #111;
  border-radius: 0;
}

.action-tab .fa.fa-edit {
  color: #009DFF;
}

.action-tab .fa.fa-tree {
  color: #00FF2F;
}


.navbar-inverse .navbar-brand {
  color: black;
}