body, .navbar {
  min-width: 280px;
  background: #222222;  
}

body {
  height: 100%;
}

hr {
  border-color: #222;
}

.container {
  background: #0A0A0A;
  color: white;
  height: 100%;
  padding: 0;
  height: 100%;
  box-shadow: 2px 0 3px #0A0A0A, -2px 0 3px #0A0A0A;
  min-height: 100vh;
}


h1, h2, h3, h4, h5, h6, th, legend {
	font-family: 'Montserrat', sans-serif;
}


p, div, td, label, dd, dt {
	font-family: 'Oxygen', sans-serif;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

b {
	font-family: "Courier";
	#font-size: 1.2em;
}



.main { 
	padding: 25px;
}

.well {
	padding-top: 0px;
}

.img-rounded {
	border-radius: 5px;
}

.img-padded {
	margin: 5px 0px;
}


.scrollbar-area {
	overflow-y: scroll;
}

th {
	position: sticky;
}

tr {
	height: 10px;
	border-top: 2px;
}

td {
	padding: 10px;
}





.navbar-inverse {
	border-radius: 0px;
	border: 15px;

  background: white;
  color: black;

  background: -webkit-linear-gradient(#DDDDDD, white, #DDDDDD); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#DDDDDD, white, #DDDDDD); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#DDDDDD, white, #DDDDDD); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#DDDDDD, white, #DDDDDD); /* Standard syntax */



}

.navbar-brand-custom {
  margin-right: 5px;
  float: right;
  padding-left: 5px;
  padding-right: 1px;
  margin-top: -2px;
}


a {
	color: #9E9E9E;
}

td > a {
  color: white;
}





.bottom-nav-control p {
	color: black;
	opacity: 0.7;
}

.bottom-nav-control h3 {
	color: black;
}


.img-trans {
	opacity: 0.7;
}

.img-trans:hover, .bottom-nav-control p:hover {
	opacity: 1;
	transition: opacity 0.2s;
}



label {
  margin-top: 15px;
}

.help-block p {
  margin-bottom: 0px;
}


textarea {
  resize: vertical;
}

.fieldset-search-form .check_boxes > .controls {
  height: auto;
  overflow: hidden;
}

.fieldset-search-form {
  background: #111;
  border-radius: 10px;
  width: 90%;
  margin: 0 5%;
  padding: 20px;
}

.info-tab {
  width: 25%;

  float: left;
  padding: 0 7px;
  padding-top: 9px;
  border-right: 1px solid #ccc;
  background: #111;
  position: fixed;
  bottom: 0;
  height: 40px;

  background: #DDDDDD;

  background: -webkit-linear-gradient(#DDDDDD, white, #DDDDDD); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#DDDDDD, white, #DDDDDD); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#DDDDDD, white, #DDDDDD); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#DDDDDD, white, #DDDDDD); /* Standard syntax */

}

.info-tab:hover {
  cursor: pointer;

  background: white;

  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -ms-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;

  background: -webkit-linear-gradient(#EEEEEE, white, #EEEEEE); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#EEEEEE, white, #EEEEEE); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#EEEEEE, white, #EEEEEE); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#EEEEEE, white, #EEEEEE); /* Standard syntax */

}

.info-tab-current, .info-tab-current:hover {

  background: #FF9112;

  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: color 0 ease-in;
  transition: none;

  background: -webkit-linear-gradient(#FFA238, #FF9112, #FF9112, #FFA238); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#FFA238, #FF9112, #FF9112, #FFA238); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#FFA238, #FF9112, #FF9112, #FFA238); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#FFA238, #FF9112, #FF9112, #FFA238); /* Standard syntax */

}



.info-tab-33 {
  width: 33.3333333%;
  min-width: 93.333333333px;
}

.info-tab-disabled {

}

.info-tab-disabled:hover {
  cursor: not-allowed;
}

.info-tab p {
	font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: small;
  color: black;
}

.info-tab-disabled p {
	color: #ccc;
}

.center-wrapper {
  display: table;
  margin: 0 auto;
}

.center-wrapper-inner {
  display: inline-block; 
}

.center-wrapper-inner > * {
  text-align: center;
}


.info-body {
  min-height: 100px;
}

.info-body p {
  margin-left: 10px;
  margin-bottom: 20px;
}

.info-body .help-block {
  margin-bottom: 0;
}




.action-tab {
  width: 50%;
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
  float: left;
  padding: 3px 5px;
  border-right: 1px solid #444;
  background: #333;
  position: fixed;
  height: 30px;
  bottom: 40px;
  left: 0;
}

.action-tab:hover {
  cursor: pointer;
}

.action-tab p {
  color: white;
}

.padding-mobile {
  padding: 0 10px;
}

.help-inline {
  color: rgb(169, 68, 66);
}



.check_boxes > .controls {
  padding: 0 15px;
  /*  padding-bottom: 5px; */
  /* border: 1px solid #ccc; */
  /* border-radius: 4px; */
  height: 120px;
  overflow-y: scroll;
  background-color: #222;
  border-radius: 3px;
}

.check_boxes .checkbox {
  font-size: small;
  font-weight: 400;
  font-family: 'Oxygen', sans-serif;
}

.check_boxes.optional.form-control {
	height: 15px;
}

label.checkbox {
  padding-left: 10px;
}

.checkbox input[type="checkbox"] {
  /*margin-left: -18px;*/
  margin-top: 0;
  /*float: left;*/
}

input {
  color: white;
}

.controls > input, .controls > textarea, .controls > select, select.form-control {
  background: #222;
  border-color: #111;
  color: white;
}

.form-control:focus {
  box-shadow: 0px 1px 1px #FFB300 inset, 0px 0px 3px #FFB300;
  border-color: #FFB300;
}

.navbar-brand-custom:hover *, .navbar-prev-page-block:hover, a:hover, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .center-wrapper-inner > li > a:hover, a > p:hover, .preceding-heading > a:hover, .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus, a:focus, .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover  {
  color: #FFB300;
  text-decoration: none;

  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;

}

.navbar-toggle {
  background: #222222;
}

.navbar-collapse {
  border: none;
}

.btn-orange {
  border-color: #D6880B;
  background: #EB9100;
  color: white;
}

.btn-orange:hover, .btn-orange:focus {
  background: #FFA81C;
  border-color: #EB9100;
  color: white;
}


/*
.checkbox-container {
  display: inline-block;
  background: red;
  vertical-align: -1px;
  margin: 5px;
}

.checkbox-container input {
  display: inline;
}

.checkbox-container .collection_checkboxes {
  display: inline;
}
*/

.form-photo-box {
  border: 1px solid #333;
  padding: 5px;
  margin-bottom: 10px;
}

.photo-box-display {
  border: 1px solid #FF9A26;
}

.btn-welcome {
  width: 80%;
  margin: 0 10%;
  padding: 20px 0;
  font-size: medium;
	font-family: 'Montserrat', sans-serif;

}



.search {
  width: 100%;
  margin: 0 10%;
  padding: 20px ;
  font-size: medium;
	font-family: 'Montserrat', sans-serif;
  background: #111;
}

.search-bar-container {
  width: 100%;
  margin: 0;
}

.dropdown-checkboxes {
  display: none;
  border: 1px solid #333;
  background: white;
  border-top: 0;
}

.btn-searchlist {
  border-radius: 0;
  margin-top: 5px;
  position: relative;
  background: #FFE9D1;
  border-color: #FFDFBA;
}

.btn-searchlist:hover, .btn-searchlist:active {
  background: #FFDFBA;
  border-color: #FFDCB3;  
}

.btn-searchlist-down:after, .btn-searchlist-up:after {
  font-family: FontAwesome;
  font-size: 12px;
  position: absolute;
  right: 6px;
  top: 7px; 
}

.btn-searchlist-down:after {
  content: "\f078";
}

.btn-searchlist-up:after {
  content: "\f077";
}


.legend-center-aligned {
  text-align: center;
}

legend {
  border-color: #222;
  color: white;
}

.plant-index-box {
  width: 100%;
  height: 64px;
  border-top: 1px solid #222;
  position: relative;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.plant-index-box p, .plant-index-box-chevron {
  color: #bbb;
}

p.plant-text-container {
  color: white;
}

.plant-index-box-photo {
  width: 64px;
  height: 64px;
  border-right: 1px solid #333;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
  position: absolute;
  left: 0;
  top: 0;

}
.plant-index-box-content {
  height: 44px;
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.plant-index-box-content-wrapper {
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

.plant-index-box-chevron {
  position: absolute;
  right: 0;
  top: 0;
  height: 64px;
  width: 44px;
  padding-top: 18px;
  padding-left: 12px;
  font-size: large;
}

.plant-index-tab {
  width: 100%;
  height: 24px;
  padding: 4px 0;
  z-index: 1000;
  border-bottom: 1px solid #ccc;
  background: #FFF8D9;
  position: fixed;
  top: 50px;
  overflow: hidden;
}

.plant-index-tab p {
	font-family: 'Montserrat', sans-serif;
  font-size: small;
} 

.plant-text-container {
  text-align: center;
  margin-bottom: 0px;
  font-size: 120%;
  color: white;
}

.navbar-brand {
  color: #555;
}

.navbar-collapse :hover {
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.navbar-title-block {
  margin-bottom: 0px;
  margin-left: -10px;
  font-size: small;
  width: 100%;
  left: 0;
}

.navbar-title-block p {
  position: absolute;
  right: 25px;
  text-align: center;
  color: black;
  width: 100%;
}

.navbar-prev-page-block {
  margin-bottom: 0px;
  font-size: small;
  margin-left: -10px;
  position: absolute;
  left: 0;
  width: auto;
  padding-right: 0;
  z-index: 1100;
}

.navbar-uwacrest-block {
  margin-left: -10px;
  width: 80px;
  position: absolute;
  left: 0;
}

.navbar-admin-tab {
  width: 120px;
  height: 30px;
  background: #DDDDDD;
  color: black;
  position: fixed;
  right: 2%;
  top: 50px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 1050;
}
.navbar-admin-tab p, .sort-by-tab p {
  color: black;
  text-align: center;
  font-size: x-small;
  margin-top: 6px;
  font-family: 'Montserrat', sans-serif; 
}

.navbar-admin-tab:hover p, .sort-by-tab:hover p {
  color: #FF9A26;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.navbar-admin-tab:active p, .sort-by-tab:active p {
  color: #FF9A26;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}



.navbar-admin-tab:before {
  left: -30px;
  background: url('tab-corner-left-white-1.png');
}

.navbar-admin-tab:after {
  right: -30px;
  top: 0;
  background: url('tab-corner-right-white-1.png');
}

.navbar-admin-tab:before, .navbar-admin-tab:after {
  position: absolute;
  display: block;
  content: "";
  width: 30px;
  height: 30px;  
  background-size: 30px 30px;
  background-repeat: no-repeat;  
}


.navbar-admin-tab a {
  text-decoration: none; 
}

.navbar-nav > li.logout {
  padding: 15px;
}

.navbar-nav > li > a.logout {
  display: inline;
  padding: 15px 0;
}

.navbar-inverse .navbar-nav > li  {
  color: rgb(119, 119, 119);
}

.display-photo-right {
  float: right;
  margin-left: 10px;
  border: 1px solid #222;
  max-width: 50%;
  max-height: 50%;
}

.colour-circle {
  float: left;
  margin-top: 2px;
  margin-right: 8px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
}





table, .table > tbody > tr > td, .table > thead > tr > th, .table-responsive {
  border: 0;  

}

.table > tbody > tr > td {
  vertical-align: middle;
}

.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
  background: none;
 }



 .table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
  background: #222;
 }

tr:nth-child(odd) td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

tr:nth-child(odd) td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}




/* Sort tab */

/*

.sort-by-tab {
  width: 70px;
  height: 30px;
  background: black;
  color: white;
  position: fixed;
  left: 10px;
  top: 50px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 1050;
}

.sort-by-tab p {
  color: white;
  text-align: center;
  font-size: small;
  margin-top: 6px;
  font-family: 'Montserrat', sans-serif; 
}

.sort-by-tab-current {
  background: #ccc;
  z-index: 1060;  
}

.sort-by-tab-current p {
  color: black;
}


.sort-by-tab:before {
  left: -30px;
  background: url('tab-corner-left-2.png');
}

.sort-by-tab:after {
  right: -30px;
  top: 0;
  background: url('tab-corner-right-4.png');
}

.sort-by-tab-current:before {
  left: -30px;
  background: url('tab-corner-left-2.png');
}

.sort-by-tab-current:after {
  right: -30px;
  top: 0;
  background: url('tab-corner-right-4.png');
}



.sort-by-tab:before, .sort-by-tab:after {
  position: absolute;
  display: block;
  content: "";
  width: 30px;
  height: 30px;  
  background-size: 30px 30px;
  background-repeat: no-repeat;  
}


.sort-by-tab a {
  text-decoration: none; 
}

*/


.index-banner {
  position: fixed;
  width: 100%;
  left: 0;
  top: 50px;
  height: 30px;
  background: #222;
  z-index: 1002;
  border-bottom: 1px solid #333;
}


.favourite-form {

  margin-top: -8px;
  float: right;
}

.favourite-form a, a:hover {
  text-decoration: none;
}



.slideshow{
  position: relative;
  display: block;
  overflow: hidden;
}

figure{
  position: absolute;
  opacity: 0;
  transition: 0.4s opacity;
}

figcaption{
  position: absolute;
  font-family: font-family: 'Oxygen', sans-serif;
  font-size: .8em;
  left: 0;
  bottom: 0;
  padding: .25em;
  color: white;
  background: rgba(0,0,0, .7);
  width: 100%;
}


.fig-item-number {
  color: white;
  background: black;
  padding: .25em 15px;


}

figcaption a{
  color: #fff;
}

figure.show {
  opacity: 1;
  position: static;
  transition: 0.4s opacity;
}


.ss-next, .ss-prev{
  color: #fff;
  position: absolute;
  top: 50%;
  z-index: 1;
  font-size: 40px;
  margin-top: -.75em;
  opacity: .75;
  user-select: none;
}

.ss-next:hover, .ss-prev:hover{
  cursor: pointer;
  opacity: 1;
}

.ss-next{
  right: 0;
  padding: 10px 5px 15px 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.ss-prev{
  left: 0;
  padding: 10px 10px 15px 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  top: 100;
}



.kw-search-box {
  width: 70%;
  float: left;
}

.kw-search-box-inner {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.kw-search-button {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.dropdown-checkboxes {
  border: 1px solid white;
}



/* Media Queries */

@media (max-width: 768px) {
  .over-768 {
    display: none;  
  }
}


@media (min-width: 300px) {
  body {
    overflow-x: hidden;
  }
}

@media (max-width: 400px) {
  .navbar p {
    font-size: 90%;
  }

  .th-shrink, .td-shrink {
    width: 30px !important;
  }

  .over-400 {
    display: none;
  }

}


@media (min-width: 768px) {
  .navbar-right {
    position: fixed;
    right: 90px;
  }
  .navbar-brand {
    margin-left: -10px !important;
  }
  .navbar-brand-custom {
    padding-left: 18px !important;    
  }

  .navbar-title-block p {
      right: 200px;
  }
  .under-768 {
    display: none;
  }
}