@media (min-width: 300px) {
  body {
    overflow-x: hidden;
  }
}

@media (max-width: 400px) {
  .navbar p {
    font-size: 90%;

  }

}

@media (min-width: 768px) {
  .navbar-right {
    position: fixed;
    right: 90px;
  }
  .navbar-brand {
    margin-left: -10px !important;
  }
  .navbar-brand-custom {
    padding-left: 18px !important;    
  }

  .navbar-title-block {
    width: 66%;
  }

}
