@media (max-width: 1150px) {
  .center-wrapper >.center-wrapper-inner > li {
    padding-right: 18px;
  }
}

@media (max-width: 992px) {
  .center-wrapper >.center-wrapper-inner > li {
    padding-right: 10px;
    font-size: 12px;
  }
}

@media (max-width: 850px) {
  .center-wrapper >.center-wrapper-inner > li {
    padding-right: 5px;
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .over-768 {
    display: none;  
  }
  .admin-pages-tab-left, .admin-pages-tab-right {
    width: 50%;
  }
  .admin-pages-tab-right {
    left: 50%;
  }
  .btn-group > .btn-top {
    width: 90px;
  }
}


@media (min-width: 300px) {
  body {
    overflow-x: hidden;
  }
}

@media (max-width: 300px) {
  .admin-pages-tab-left {
    display: none;
  }
  .admin-pages-tab-right {
    width: 100%;
    left: 0;
  }
}

@media (max-width: 400px) {
  .navbar p {
    font-size: 90%;
  }

  .th-shrink, .td-shrink {
    width: 30px !important;
  }

  .over-400 {
    display: none;
  }

}

@media (max-width: 500px) {
  .h1-shrink {
    font-size: 150%;
    margin-top: 30px;
    margin-bottom: -5px;
  }
  .preceding-heading a, .preceding-heading i {
    font-size: small;
  }
  .item-counter {
    font-size: medium !important;
  }
  .button-shrink {
    padding: 3px 4px;
    font-size: 11px;
    line-height: 1.5;
    border-radius: 3px 3px 3px 3px;
    margin-top: -20px !important;
  }

  .padding-mobile > .btn-group {
    margin-top: 0px;
  }

  .btn-group > .btn-top {
    width: 30px;
  }

  .over-500 {
    display: none;
  }

}



@media (min-width: 768px) {
  .navbar-right {
    position: fixed;
    right: 90px;
  }
  .navbar-brand {
    margin-left: -10px !important;
  }
  .navbar-brand-custom {
    padding-left: 18px !important;    
  }

  .navbar-title-block p {
      right: 200px;
  }
  .under-768 {
    display: none;
  }
}
