<div class="admin-pages-tab admin-pages-tab-left">
	<%= link_to admin_path do %>
 		<p><i class="fa fa-gavel"></i>&nbsp;&nbsp;Administration</p>
  <% end %>
</div>
<div class="admin-pages-tab admin-pages-tab-right">
	<div class="over-768">
		<div class="center-wrapper">
			<div class="center-wrapper-inner">
 				<%= render 'admin_pages/other_tables_list' %>
 			</div>
 		</div>
 	</div>
	<div class="under-768">
 		<%= render 'admin_pages/other_tables_button' %> 
 	</div>
</div>



