<% provide(:title, @size.name) %>

<%= render partial: 'admin_pages/generic_admin_show', locals: {object: @size, objects_path: sizes_path, edit_object_path: edit_size_path(@size), object_path: size_path(@size), object_prevpage: 'Sizes', object_name: 'size', object_has_colour: false } %>

<p>Plants that are '<%= @size.name %>':</p>
<%= render 'admin_pages/plants_table' %>