<h1> Edit Flower Colour </h1>

<strong>Note that these changes be applied to all plants with this flower colour.</strong>

<%= render 'form' %>
 
<%= link_to 'Back', flower_colours_path, class: 'btn-primary' %>