<% provide(:title, 'Edit Flower Colour') %>
<% provide(:prev_page, 'Flower Colour') %>
<% provide(:prev_link, flower_colours_path) %>

<h1><span class="preceding-heading"><%= link_to 'Flower Colours', flower_colours_path %> <i class="fa fa-chevron-right"></i></span> Edit '<div class="colour-circle circle-large" style="background: <%= to_colour(@flower_colour) %>"></div> <%= @flower_colour.name %>'</h1>
<hr/>

<%= render partial: 'admin_pages/generic_admin_form_colour', locals: {object: @flower_colour, object_name: 'flower_colour', object_error_name: 'flower colour'} %>
