<% provide(:title, 'New Flower Colour') %>
<% provide(:prev_page, 'Flower Colours') %>
<% provide(:prev_link, flower_colours_path) %>

<h1><span class="preceding-heading"><%= link_to 'Flower Colours', flower_colours_path %> <i class="fa fa-chevron-right"></i></span> New Flower Colour</h1>
<hr/>
 
<%= render 'form' %>