<% provide(:title, 'New Flower Colour') %>
<% provide(:prev_page, 'F. Colours') %>
<% provide(:prev_link, flower_colours_path) %>

<h1><span class="preceding-heading"><%= link_to 'F. Colours', flower_colours_path %> <i class="fa fa-chevron-right"></i></span> New Flower Colour</h1>
<hr/>
 
<%= render partial: 'admin_pages/generic_admin_form_colour', locals: {object: @flower_colour, object_name: 'flower_colour', object_error_name: 'flower colour'} %>
