<%= link_to edit_current_plant_path(@current_plant) do %>
	<div class="action-tab">
	  <div class="center-wrapper">
	    <div style="display: inline-block;">
	      <p><i class="fa fa-edit" style="color: #0000F5"></i>&nbsp;&nbsp;Edit plant</p>
	    </div>
	  </div>
	</div>
<% end %>