<%= link_to yield(:prev_link) do %>
<div class="action-tab">
  <div class="center-wrapper">
    <div style="display: inline-block;">
      <p><i class="fa fa-remove" style="color: #B80000"></i>&nbsp;&nbsp;Cancel</p>
    </div>
  </div>
</div>
<% end %>

<%= link_to_submit do %>
<div class="action-tab" style="left: 50%">
  <div class="center-wrapper">
    <div style="display: inline-block;">
      <p><i class="fa fa-check" style="color: #00B800"></i>&nbsp;&nbsp;Done</p>
    </div>
  </div>
</div>
<% end %>
