<% if signed_in? %>
	<%= link_to new_current_plant_path(pp_name: yield(:title), pp_path: request.path) do %>
	  <div class="action-tab" style="left: 50%">
	    <div class="center-wrapper">
	      <div style="display: inline-block;">
	        <p><i class="fa fa-tree" style="color: #00FF2F"></i></span>&nbsp;&nbsp;New plant</p>
	      </div>
	    </div>
	  </div>
	<% end %>
<% end %>