<% if signed_in? %>

<%= link_to user_favourites_path(current_user) do %>
	<div class="action-tab">
	  <div class="center-wrapper">
	    <div style="display: inline-block;">
	      <p><i class="fa fa-star" style="color: #FF9100"></i></span>&nbsp;&nbsp;Favourites</p>
	    </div>
	  </div>
	</div>
<% end %>

<% end %>