<% provide(:title, 'Edit Type') %>
<% provide(:prev_page, 'Types') %>
<% provide(:prev_link, types_path) %>

<h1><span class="preceding-heading"><%= link_to 'Types', types_path %> <i class="fa fa-chevron-right"></i></span> Edit '<%= @type.name %>'</h1>
<hr/>

<strong>Note that these changes will be applied to all plants with this type.</strong>

<%= render 'form' %>