<% provide(:title, 'Log in') %>
<% provide(:prev_page, 'Home') %>
<% provide(:prev_link, root_path) %>

<div class="padding-mobile">
  <% if flash[:error] %>
		<div class="alert alert-info" style="margin-top: 20px">
			  <p><%= flash[:error] %></p>
		</div>
  <% end %>

	<h2 style="text-align: center; margin-bottom: 35px">Log In</h2>
	<hr/>





  <%= render 'form' %>
</div>

<%= render 'layouts/ui/bottom_tabs_default' %>
