<% provide(:title, 'Log in') %>


<div class="padding-mobile">
  <% if flash[:error] %>
	<div class="alert alert-info" style="margin-top: 20px">
		  <p><%= flash[:error] %></p>
	</div>
  <% end %>

  <h2>Log in</h2>




  <%= render 'form' %>
</div>
