<% provide(:title, 'New Climate') %>
<% provide(:prev_page, 'Climates') %>
<% provide(:prev_link, climates_path) %>

<h1><span class="preceding-heading"><%= link_to 'Climates', climates_path %> <i class="fa fa-chevron-right"></i></span> New Climate</h1>
<hr/>
 
<%= render 'form' %>