<% provide(:title, 'New Climate') %>
<% provide(:prev_page, 'Climates') %>
<% provide(:prev_link, climates_path) %>

<h1 class="h1-shrink">New Climate</h1>
<hr/>
 
<%= render 'form' %>
 
<%= link_to 'Back', climates_path %>