<% provide(:title, @climate.name) %>

<%= render partial: 'admin_pages/generic_admin_show', locals: {object: @climate, objects_path: climates_path, edit_object_path: edit_climate_path(@climate), object_path: climate_path(@climate), object_prevpage: 'Climates', object_name: 'climate', object_has_colour: false } %>

<p>Plants that are '<%= @climate.name %>':</p>
<%= render 'admin_pages/plants_table' %>