
	  
	  
	<table class="table table-bordered" style="margin-bottom: -1px" >
		<thead>
			<tr style="background: white">
				<th width="10%"></th>
				<th width="60%">Common Name</th>
				<th width="20%">Type</th>
				<th width="10%"></th>
			</tr>
		</thead>
	</table>
	  
	</nav>

	
	

	<div style="height: 88px"></div>
	
	
	<table class="table table-bordered" style="margin-bottom: 0px;">

		<tbody>
			<tr class="tr-climber">
				<td width="10%" style="padding: 3px"><img src="images/plants/rose_1_small.jpg" alt="Rose" class="img-circle"></img></td>
				<td width="60%">Testing</td>
				<td width="20%">Climber</td>
				<td width="10%"><a href= "detail-mobile.html"><span class="glyphicon glyphicon-chevron-right"></span></a></td>				
			</tr>
			<tr class="tr-climber">
				<td style="padding: 3px"><img src="images/plants/rose_1_small.jpg" alt="Rose" class="img-circle"></img></td>
				<td>Testing</td>
				<td>Climber</td>
				<td><a href= "detail-mobile.html"><span class="glyphicon glyphicon-chevron-right"></span></a></td>			
			</tr>
			<tr class="tr-climber">
				<td style="padding: 3px"><img src="images/plants/birds_nest_fern_small.jpg" alt="Fern"  class="img-circle"></img></td>
				<td>Testing</td>	
				<td>Climber</td>
				<td><a href= "detail-mobile.html"><span class="glyphicon glyphicon-chevron-right"></span></a></td>		
			</tr>	
			<tr class="tr-climber">
				<td style="padding: 3px"><img src="images/plants/rose_1_small.jpg" alt="Rose" class="img-circle"></img></td>
				<td>Testing</td>	
				<td>Climber</td>			
				<td><a href= "detail-mobile.html"><span class="glyphicon glyphicon-chevron-right"></span></a></td>
			</tr>	
			<tr class="tr-climber">
				<td style="padding: 3px"><img src="images/plants/rose_1_small.jpg" alt="Rose" class="img-circle"></img></td>
				<td>Testing</td>	
				<td>Climber</td>
				<td><a href= "detail-mobile.html"><span class="glyphicon glyphicon-chevron-right"></span></a></td>			
			</tr>				
			<tr class="tr-climber">
				<td style="padding: 3px"><img src="images/plants/old_mans_beard_small.jpg" alt="Beard" class="img-circle"></img></td>
				<td>Old man's beard</td>
				<td>Climber</td>
				<td><a href= "detail-mobile.html"><span class="glyphicon glyphicon-chevron-right"></span></a></td>				
			</tr>
			<tr class="tr-climber">
				<td style="padding: 3px"><img src="images/plants/birds_nest_fern_small.jpg" alt="Fern" class="img-circle"></img></td>
				<td>Old man's beard</td>
				<td>Climber</td>
				<td><a href= "detail-mobile.html"><span class="glyphicon glyphicon-chevron-right"></span></a></td>				
			</tr>
			<tr class="tr-conifer">
				<td style="padding: 3px"><img src="images/plants/old_mans_beard_small.jpg" alt="Beard" class="img-circle"></img></td>
				<td>Rottnest cypress</td>
				<td>Conifer</td>
				<td><a href= "detail-mobile.html"><span class="glyphicon glyphicon-chevron-right"></span></a></td>			
			</tr>
			<tr class="tr-conifer">
				<td style="padding: 3px"><img src="images/plants/old_mans_beard_small.jpg" alt="Beard" class="img-circle"></img></td>
				<td>Rottnest cypress</td>
				<td>Conifer</td>
				<td><a href= "detail-mobile.html"><span class="glyphicon glyphicon-chevron-right"></span></a></td>			
			</tr>
			<tr class="tr-conifer">
				<td style="padding: 3px"><img src="images/plants/birds_nest_fern_small.jpg" alt="Fern"  class="img-circle"></img></td>
				<td>Rottnest cypress</td>	
				<td>Conifer</td>	
				<td><a href= "detail-mobile.html"><span class="glyphicon glyphicon-chevron-right"></span></a></td>		
			</tr>
			<tr class="tr-conifer">
				<td style="padding: 3px"><img src="images/plants/rose_2_small.jpg" alt="Rose" class="img-circle"></img></td>
				<td>Rottnest cypress</td>	
				<td>Conifer</td>
				<td><a href= "detail-mobile.html"><span class="glyphicon glyphicon-chevron-right"></span></a></td>		
			</tr>
			<tr class="tr-conifer">
				<td style="padding: 3px"><img src="images/plants/rose_3_small.jpg" alt="Rose" class="img-circle"></img></td>
				<td>Rottnest cypress</td>	
				<td>Conifer</td>
				<td><a href= "detail-mobile.html"><span class="glyphicon glyphicon-chevron-right"></span></a></td>			
			</tr>
			<tr class="tr-fern">
				<td style="padding: 3px"><img src="images/plants/rose_2_small.jpg" alt="Rose" class="img-circle"></img></td>
				<td>Bird's nest fern</td>	
				<td>Fern</td>	
				<td><a href= "detail-mobile.html"><span class="glyphicon glyphicon-chevron-right"></span></a></td>		
			</tr>
			<tr class="tr-fern">
				<td style="padding: 3px"><img src="images/plants/rose_1_small.jpg" alt="Rose" class="img-circle"></img></td>
				<td>Lacy tree fern</td>	
				<td>Fern</td>	
				<td><a href= "detail-mobile.html"><span class="glyphicon glyphicon-chevron-right"></span></a></td>		
			</tr>
			<tr class="tr-fern">
				<td style="padding: 3px"><img src="images/plants/rose_2_small.jpg" alt="Rose" class="img-circle"></img></td>
				<td>Lacy tree fern</td>	
				<td>Fern</td>	
				<td><a href= "detail-mobile.html"><span class="glyphicon glyphicon-chevron-right"></span></a></td>		
			</tr>
			<tr class="tr-fern">
				<td style="padding: 3px"><img src="images/plants/rose_3_small.jpg" alt="Rose" class="img-circle"></img></td>
				<td>Lacy tree fern</td>	
				<td>Fern</td>	
				<td><a href= "detail-mobile.html"><span class="glyphicon glyphicon-chevron-right"></span></a></td>			
			</tr>
			<tr class="tr-fern">
				<td style="padding: 3px"><img src="images/plants/rose_2_small.jpg" alt="Rose" class="img-circle"></img></td>
				<td>Lacy tree fern</td>	
				<td>Fern</td>
				<td><a href= "detail-mobile.html"><span class="glyphicon glyphicon-chevron-right"></span></a></td>				
			</tr>
			<tr class="tr-grass">
				<td style="padding: 3px"><img src="images/plants/rose_1_small.jpg" alt="Rose" class="img-circle"></img></td>
				<td>Couch</td>		
				<td>Grass</td>	
				<td><a href= "detail-mobile.html"><span class="glyphicon glyphicon-chevron-right"></span></a></td>		
			</tr>
			<tr class="tr-grass">
				<td style="padding: 3px"><img src="images/plants/old_mans_beard_small.jpg" alt="Beard" class="img-circle"></img></td>
				<td>Couch</td>	
				<td>Grass</td>	
				<td><a href= "detail-mobile.html"><span class="glyphicon glyphicon-chevron-right"></span></a></td>	
			</tr>
			<tr class="tr-grass">
				<td style="padding: 3px"><img src="images/plants/rose_3_small.jpg" alt="Rose" class="img-circle"></img></td>
				<td>Couch</td>		
				<td>Grass</td>	
				<td><a href= "detail-mobile.html"><span class="glyphicon glyphicon-chevron-right"></span></a></td>	
			</tr>
		</tbody>	
	</table>
	

	<div style="height: 38px"></div>

	<div id="bottom-nav-mobile">
		<div class="bottom-nav-box" style="float: left; border-right: 1px solid gray;" id="bottom-nav-1">
			<p><span class="glyphicon glyphicon-chevron-up"></span>&nbsp;First</p>
		
		</div>
		<div class="bottom-nav-box" style="float: left; border-left: 1px solid #242424; border-right: 1px solid gray;" id="bottom-nav-2">
			<p><span class="glyphicon glyphicon-chevron-down"></span>&nbsp;Last</p>
		</div>
		<div class="bottom-nav-box" style="float: left; border-left: 1px solid #242424" id="bottom-nav-3">
			<p><span class="glyphicon glyphicon-tree-deciduous"></span>&nbsp;Genus</p>
		</div>
	
	</div>

