<% provide(:title, 'Sign up') %>
<% provide(:prev_page, 'Home') %>
<% provide(:prev_link, root_path) %>

<div class="padding-mobile">
	<h2 style="text-align: center; margin-bottom: 35px">Sign Up</h2>
	<hr/>

  <%= render 'form' %>
</div>

<%= render 'layouts/ui/bottom_tabs_default' %>