<tr>
	<td>#<%= soil_type.id %></td>
	<td><%= link_to soil_type.name, soil_type_path(soil_type) %></td>
	<td class="td-shrink">
	<%= link_to edit_soil_type_path(soil_type) do %>
		<i class="fa fa-edit"></i><span class="over-400">&nbsp;&nbsp;Edit</span>
	<% end %>

	</td>
	<td class="td-shrink"><%= link_to soil_type_path(soil_type), method: :delete, data: { confirm: 'WARNING: Are you sure you want to DELETE this soil type? Doing so will affect all plants with this soil type!'} do %>
		<i class="fa fa-trash"></i><span class="over-400">&nbsp;&nbsp;Delete</span>
	<% end %>
	</td>
</tr>