<h1> Edit Soil Type </h1>

<strong>Note that these changes be applied to all plants with this soil Soil Typetype.</strong>

<%= render 'form' %>
 
<%= link_to 'Back', soil_types_path, class: 'btn-primary' %>