<% provide(:title, 'New Soil Type') %>
<% provide(:prev_page, 'Soil Types') %>
<% provide(:prev_link, soil_types_path) %>

<h1><span class="preceding-heading"><%= link_to 'Soil Types', soil_types_path %> <i class="fa fa-chevron-right"></i></span> New Climate</h1>
<hr/>
 
<%= render partial: 'admin_pages/generic_admin_form', locals: {object: @soil_type, object_name: 'soil type'} %>