<% provide(:title, @soil_type.name) %>

<%= render partial: 'admin_pages/generic_admin_show', locals: {object: @soil_type, objects_path: soil_types_path, edit_object_path: edit_soil_type_path(@soil_type), object_path: soil_type_path(@soil_type), object_prevpage: 'Soil Types', object_name: 'soil type', object_has_colour: false } %>

<p>Plants that have the soil type of '<%= @soil_type.name %>':</p>
<%= render 'admin_pages/plants_table' %>