<h1> Edit Leaf Colour </h1>

<strong>Note that these changes be applied to all plants with this leaf colour.</strong>

<%= render 'form' %>
 
<%= link_to 'Back', leaf_colours_path, class: 'btn-primary' %>