<% provide(:title, 'Leaf Colours List') %>
<% provide(:prev_page, 'Admin') %>
<% provide(:prev_link, admin_path) %>


	<h1 class="h1-shrink">All Leaf Colours<span class="item-counter">(<%= @leaf_colours.count %>)</span></h1>
		<%= link_to '<i class="fa fa-plus"></i>&nbsp;&nbsp;New Leaf Colour'.html_safe, new_leaf_colour_path, class: 'btn btn-orange button-shrink', style: 'float: right; margin-top: -45px'%>
<hr/>


<table class="table table-striped">
	<thead>
		<tr>
			<th style="width: 5%">ID</th>
			<th>Name</th>
			<th style="width: 90px;" class="th-shrink"></th>
			<th style="width: 90px;" class="th-shrink"></th>
		</tr>
	</thead>
	
	<%= render @leaf_colours %>
</table>

