<% provide(:title, 'New Leaf Colour') %>
<% provide(:prev_page, 'Leaf Colours') %>
<% provide(:prev_link, leaf_colours_path) %>

<h1><span class="preceding-heading"><%= link_to 'Leaf Colours', leaf_colours_path %> <i class="fa fa-chevron-right"></i></span> New Leaf Colour</h1>
<hr/>
 
<%= render partial: 'admin_pages/generic_admin_form_colour', locals: {object: @leaf_colour, object_name: 'leaf_colour', object_error_name: 'leaf colour'} %>
