<% provide(:title, 'Contact Us') %>
<% provide(:prev_page, 'Home') %>
<% provide(:prev_link, root_path) %>

<div class="padding-mobile">
  <h1 style="text-align: center; margin-bottom: 35px"> Thanks for visiting!</h1>	

  <hr/>
  
  <div class="row">
    <div class="col-md-6">
      <h2 style="margin-bottom: 35px"> Who are we? </h2>
      <p> We're a bunch of UWA Computer Science students making this app for our CITS3200 Project. </p>
      <p> Alphabetically, we are:  </p>
      <ul>
        <li> Jason Chao - 21397806</li>
        <li> Emma Hunt - 21334201</li>
        <li> Duncan Lissiman - 20938989</li>
        <li> Michael Stewart - 20947715 </li>
        <li> James Szklarz - 20505774 </li>
        <li> Chengy Wong - 20848476</li>
      </ul>

    </div>
    <div class="col-md-6">


      <h2 style="margin-bottom: 35px"> How can you contact us? </h2>
      <p> You can email any or all of us, at [our-student-number]@student.uwa.edu.au </p>
      <p> Or, if you like you can email our client, Associate Professor Catharina Sack, at tinka.sack@uwa.edu.au </p>
      

    </div>
  </div>
  <hr/>

  <h2 style="text-align: center; margin-bottom: 35px"> We appreciate all kinds of feedback </h2>
  <div style="max-width: 400px; margin: 0 auto;">
  <p style="text-align: center"> Big or small, good or bad. </p> 
  <p style="text-align: center"> If you want more features, or if you think we could be doing something better - we'd love to hear your ideas! </p>
  <p style="text-align: center"> Please don't hesitate to email :) </p>
  </div>

  
</div>


<% if signed_in? %>
  <div style="height: 30px"></div>
  <% if is_trusted? %>
    <%= render 'layouts/ui/action_tab_favourites' %>
    <%= render 'layouts/ui/action_tab_new' %>
  <% else %>
    <%= render 'layouts/ui/action_tab_favourites_large' %>
  <% end %>
<% end %>

<%= render 'layouts/ui/bottom_tabs_default' %>




