<div class="padding-mobile">
  <h2 style="text-align: center; margin-bottom: 35px"> Thanks for visiting!</h2>	
  
  <h2 style="text-align: center; margin-bottom: 35px"> Who are we? </h2>
  <p> We're a bunch of UWA Computer Science students making this app for our CITS3200 Project. </p>
  <p> Alphabetically, we are:  </p>
  <p style="padding-left: 10px"> Jason Chao - 21397806</p>
  <p style="padding-left: 10px"> Emma Hunt - 21334201</p>
  <p style="padding-left: 10px"> Duncan Lissiman - 20938989</p>
  <p style="padding-left: 10px"> Michael Stewart - 20947715 </p>
  <p style="padding-left: 10px"> James Szklarz - 20505774 </p>
  <p style="padding-left: 10px"> Chengy Wong - 20848476</p>
  
  <h2 style="text-align: center; margin-bottom: 35px"> How do you contact us? </h2>
  <p> You can email any or all of us, at [our-student-number]@student.uwa.edu.au </p>
  <p> Or, if you like you can email our client, Associate Professor Catharina Sack, at tinka.sack@uwa.edu.au </p>
  
  <h2 style="text-align: center; margin-bottom: 35px"> We appreciate all kinds of feedback </h2>
  <p> Big or small, good or bad. </p> 
  <p> If you want more features, or if you think we could be doing something better - we'd love to hear you're ideas! </p>
  <p> Please don't hesitate to email :) </p>

  
</div>


<% if signed_in? %>
  <div style="height: 30px"></div>
  <% if is_trusted? %>
    <%= render 'layouts/ui/action_tab_favourites' %>
    <%= render 'layouts/ui/action_tab_new' %>
  <% else %>
    <%= render 'layouts/ui/action_tab_favourites_large' %>
  <% end %>
<% end %>

<%= render 'layouts/ui/bottom_tabs_default' %>




