<% provide(:title, 'Contact Us') %>
<% provide(:prev_page, 'Home') %>
<% provide(:prev_link, root_path) %>


  <div class="thanks-for-visiting-container">
    <h1 class="contact-us-heading feedback-welcome-heading"> Thanks for visiting!</h1>
    <hr/>
  </div>
  
  <div class="padding-mobile">
  <div class="row">
    <div class="col-md-6">
      <h2 class="contact-us-heading feedback-welcome-heading"> Who are we? </h2>
      <p> We're a bunch of UWA Computer Science students making this app for our CITS3200 Project in Semester 2, 2014. </p>
      <p> Alphabetically, we are:  </p>
      <ul>
        <li> Jason Chao - 21397806</li>
        <li> Emma Hunt - 21334201</li>
        <li> Duncan Lissiman - 20938989</li>
        <li> Michael Stewart - 20947715 </li>
        <li> James Szklarz - 20505774 </li>
        <li> Chengy Wong - 20848476</li>
      </ul>

    </div>
    <div class="col-md-6">


      <h2 class="contact-us-heading feedback-welcome-heading"> How can you contact us? </h2>
      <p> You can email any or all of us, at [our-student-number]@student.uwa.edu.au, or by <a href="mailto:20938989@student.uwa.edu.au;21397806@student.uwa.edu.au;21334201@student.uwa.edu.au;20947715@student.uwa.edu.au;20505774@student.uwa.edu.au;20848476@student.uwa.edu.au;?Subject=UWA%20Plants%20Database%20query"> clicking here</a>.</p>
      <p> Or, if you like you can email our client, Associate Professor Catharina Sack, at <a href="mailto:tinka.sack@uwa.edu.au" target="_blank">tinka.sack@uwa.edu.au</a>.</p>
      

    </div>
  </div>

  </div>
  <hr/>

  <div class="feedback-welcome-container">
    <h2 class="contact-us-heading feedback-welcome-heading"> We appreciate all kinds of feedback </h2>
    <div class="feedback-welcome">
      <p> Big or small, good or bad. </p> 
      <p> If you want more features, or if you think we could be doing something better - we'd love to hear your ideas! </p>
      <p> Please don't hesitate to <a href="mailto:20938989@student.uwa.edu.au;21397806@student.uwa.edu.au;21334201@student.uwa.edu.au;20947715@student.uwa.edu.au;20505774@student.uwa.edu.au;20848476@student.uwa.edu.au;?Subject=UWA%20Plants%20Database%20query">email</a> :) </p>
    </div>
    <hr/>  
  </div>

<div class="padding-mobile">
	<h2 class="contact-us-heading feedback-welcome-heading"> Acknowledgements </h2>
  <ul class="sources-list">
    <li>The site was built using <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a></li>
    <li>Styled using <a href="http://getbootstrap.com/" target="_blank">Twitter Bootstrap</a></li>
    <li>Uses the <a href="http://www.appelsiini.net/projects/lazyload" target="_blank">Lazy Load jQuery plugin by Mika Tuupola</a></li>
    <li>All icons are from <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">Font Awesome</a></li>
	<li>Locations displayed with <a href="https://www.google.com.au/maps/place/The+University+of+Western+Australia" target="_blank">Google Maps</a></li>
	<li>Keyword search uses wvanbergen's <a href="https://github.com/wvanbergen/scoped_search" target="_blank">scoped_search</a> gem</li>
	<li>Other helpful tools included <a href="https://github.com/cubiq/add-to-homescreen" target="_blank">add-to-homescreen</a>, <a href="https://github.com/thoughtbot/paperclip" target="_blank">paperclip</a>, and <a href="https://github.com/plataformatec/simple_form" target="_blank">simple_form</a>.</li>
  </ul>
</div>

<br/>

<% if signed_in? %>
  <div style="height: 30px"></div>
  <% if is_trusted? %>
    <%= render 'layouts/ui/action_tab_favourites' %>
    <%= render 'layouts/ui/action_tab_new' %>
  <% else %>
    <%= render 'layouts/ui/action_tab_favourites_large' %>
  <% end %>
<% end %>

<%= render 'layouts/ui/bottom_tabs_default' %>
