<% provide(:title, 'Edit Origin') %>
<% provide(:prev_page, 'Origin') %>
<% provide(:prev_link, origins_path) %>

<h1 class="h1-shrink">Edit Origin</h1>
<hr/>

<strong>Note that these changes be applied to all plants with this origin.</strong>

<%= render 'form' %>