<% provide(:title, 'Origins List') %>
<% provide(:prev_page, 'Admin') %>
<% provide(:prev_link, admin_path) %> <!-- Change later -->


	<h1 class="h1-shrink">All Origins<span class="item-counter">(<%= @origins.count %>)</span></h1>
		<%= link_to '<i class="fa fa-plus"></i>&nbsp;&nbsp;New origin'.html_safe, new_origin_path, class: 'btn btn-orange button-shrink', style: 'float: right; margin-top: -45px'%>
<hr/>


<table class="table table-striped table-responsive">
	<thead>
		<tr>
			<th style="width: 5%">ID</th>
			<th>Name</th>
			<th style="width: 90px;" class="th-shrink"></th>
			<th style="width: 90px;" class="th-shrink"></th>
		</tr>
	</thead>
	
	<%= render @origins %>
</table>