<% provide(:title, 'New Origin') %>
<% provide(:prev_page, 'Origins') %>
<% provide(:prev_link, origins_path) %>

<h1><span class="preceding-heading"><%= link_to 'Origins', origins_path %> <i class="fa fa-chevron-right"></i></span> New Origin</h1>
<hr/>
 
<%= render 'form' %>