<div class="btn-centered" style="margin-top: -6px">
  <div class="btn-group dropup under-500 pull-right">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Other Tables <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <%= render 'layouts/other_tables_list' %>
    </ul>
  </div>
</div>
