<%= link_to edit_current_plant_path(@current_plant) do %>
<div class="action-tab">
  <div class="center-wrapper">
    <div style="display: inline-block;">
      <p><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;Edit plant</p>
    </div>
  </div>
</div>
<% end %>
<%= link_to new_current_plant_path do %>
<div class="action-tab" style="left: 50%">
  <div class="center-wrapper">
    <div style="display: inline-block;">
      <p><span class="glyphicon glyphicon-tree-deciduous"></span>&nbsp;&nbsp;New plant</p>
    </div>
  </div>
</div>
<% end %>
