<%= link_to new_current_plant_path do %>
  <div class="action-tab" style="left: 50%">
    <div class="center-wrapper">
      <div style="display: inline-block;">
        <p><span class="glyphicon glyphicon-tree-deciduous" style="color: #006300"></span>&nbsp;&nbsp;New plant</p>
      </div>
    </div>
  </div>
<% end %>