<div id="btn-photos" class="info-tab" style="left: 0">
  <p>Imgs</p>
</div>
<div id="btn-descriptions" class="info-tab info-tab-current" style="left: 25%">
  <p>Desc</p>
</div>
<div id="btn-architectural" class="info-tab" style="left: 50%">
  <p>Arch</p>
</div>
<div id="btn-environmental" class="info-tab" style="left: 75%">
  <p>Env</p>
</div>


