<div id="btn-type" class="info-tab info-tab-current" style="left: 0; width: 33.3333333%;">
  <p>Type</p>
</div>
<div id="btn-atoz" class="info-tab" style="left: 33.3333333%; width: 33.3333333%;">
  <p>A-Z</p>
</div>
<div id="btn-scientific" class="info-tab" style="left: 66.6666667%; width: 33.3333333%;">
  <p>Scientific</p>
</div>


