<div id="bottom-nav-mobile">


  <%= link_to :back do %>
    <div class="bottom-nav-box" style="width: 33.3%; border-left: 1px solid #242424; border-right: 1px solid gray; padding-top: 10px;">
      <div class="center-wrapper">
        <div style="display: inline-block;">
            <p><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;Back</p>
        </div>
      </div>
    </div>
  <% end %>



  <div id="submit-form" class="bottom-nav-box" style="width: 66.6%; border-left: 1px solid #242424;">
    <div class="center-wrapper">
      <div style="display: inline-block;">
        <div class="bottom-nav-box-content" style="float: right">
          <%= f.submit 'Create plant' %>
          <!--
          <p><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Create plant</p>
          -->
        </div> 
      </div>
    </div>  
  </div>



</div>

