<%= form_for(current_user.favourites.build(current_plant_id: @current_plant.id),
             remote: true) do |f| %>
  <div><%= f.hidden_field :favourite_id %></div>
  <%= f.submit "Add to Favourites", class: "btn btn-large btn-primary" %>
<% end %>