<% @user ||= current_user %>
<div class="stats">
  <a href="<%= user_favourites_path(@user) %>">
    <strong id="favourites" class="stat">
      <%= @user.favourite_current_plants.count %>
    </strong>
    following
  </a>
</div>