<div style="margin-top: 4px; margin-bottom: 55px;">
  <div id="btn-photos" class="info-tab">
    <p>Photos</p>
  </div>
  <div id="btn-naming" class="info-tab info-tab-current">
    <p>Naming</p>
  </div>
  <div id="btn-descriptions" class="info-tab">
    <p>Desc.</p>
  </div>
  <div id="btn-architectural" class="info-tab">
    <p>Arch.</p>
  </div>
  <div id="btn-cultural" class="info-tab">
    <p>Cultural</p>
  </div>
  <div id="btn-other" class="info-tab">
    <p>Other</p>
  </div>
  <div id="btn-historical" class="info-tab">
    <p>Hist.</p>
  </div>
</div>

