<% provide(:title, 'List by Type') %>
<% provide(:prev_page, 'Home') %>
<% provide(:prev_link, root_path) %>


<div style="margin-top: -15px"></div>

<%= render @current_plants %>

<% if signed_in? %>
  <div style="height: 30px"></div>
  <%= render 'layouts/ui/action_tab_favourites' %>
  <%= render 'layouts/ui/action_tab_new' %>
<% end %>

<%= render 'layouts/ui/bottom_tabs_default' %> <!-- render 'index' instead of 'default' for the types, etc -->

