<% provide(:title, 'List by Type') %>
<% provide(:prev_page, 'Home') %>
<% provide(:prev_link, root_path) %>


<div class="plant-index-tab">
  <p><strong>Climbers</strong></p>
</div>

<!-- To allow for space for the group headings -->
<div style="height: 10px"></div>

<%= render @current_plants %>

<!-- To allow space for the bottom tabs -->
<div style="height: 40px"></div>

<% if signed_in? %>
  <div style="height: 30px"></div>
  <%= render 'action_tab_favourites' %>
  <%= render 'action_tab_new' %>
<% end %>

<%= render 'bottom_tabs_index' %>

