<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="UWAPlantsGuide">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Genus</Data></Cell>
        <Cell><Data ss:Type="String">Species</Data></Cell>
        <Cell><Data ss:Type="String">Scientific Name</Data></Cell>
      </Row>
    	<% @current_plants.each do |current_plant| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= current_plant.id %></Cell>
        <Cell><Data ss:Type="String"><%= current_plant.genus %></Cell>
        <Cell><Data ss:Type="String"><%= current_plant.species %></Cell>
        <Cell><Data ss:Type="Number"><%= current_plant.scientific_name %></Cell>
      </Row>
    	<% end %>
    </Table>
  </Worksheet>
</Workbook>