<% provide(:title, 'Search') %>
<% provide(:prev_page, 'List') %>
<% provide(:prev_link, current_plants_path) %>

<div class="padding-mobile">
	
	<div id="plants_search">
	  <%= form_tag current_plants_path, :method => :get do %>
	    <%= auto_complete_field_tag_jquery(:search, params[:search], {:placeholder => "Search Plants"}) %>
	    <button id='submit_search' style="font-size: 12px;">Search</button>
	  <% end %>
	</div>
	
</div>